#pragma

/**
 * HOW-TO :
 *
 * - Rename this file into "secretKeys.h".
 * - Replace values with yours.
 */


//ThingSpeak API keys
#define THINGSPEAK_CHANNEL_NUMBER  0
#define THINGSPEAK_WRITE_API_KEY  ""
#define THINGSPEAK_READ_API_KEY  ""

//Shiftr.io tokens
#define SHIFTR_NAMESPACE  "/xxx"
#define SHIFTR_DEVICE_LOGIN  ""
#define SHIFTR_DEVICE_PWD  ""

#define CARRIOTS_APIKEY "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
#define CARRIOTS_DEVICEKEY "xxx@yyy"
