#pragma

/**
 * HOW-TO :
 *
 * - Rename this file into "secretKeys.h".
 * - Replace values with yours.
 */


//ThingSpeak API keys
#define THINGSPEAK_CHANNEL_NUMBER  0
#define THINGSPEAK_WRITE_API_KEY  ""
#define THINGSPEAK_READ_API_KEY  ""

//Shiftr.io tokens
#define SHIFTR_NAMESPACE  "/xxx"
#define SHIFTR_DEVICE_LOGIN  ""
#define SHIFTR_DEVICE_PWD  ""

//AWS IoT Cas & config
#define AWS_IOT_MQTT_HOST "" 
#define AWS_IOT_MQTT_PORT 8883
// your port (default is 8883)
#define AWS_IOT_CLIENT_ID ""
#define AWS_IOT_MY_THING_NAME ""
#define AWS_IOT_ROOT_CA_FILENAME ""
#define AWS_IOT_CERTIFICATE_FILENAME ""
#define AWS_IOT_PRIVATE_KEY_FILENAME ""
//===============================================================
#define AWS_IOT_PATH_PREFIX "/path/to/your/certs/"
#define AWS_IOT_ROOT_CA_PATH AWS_IOT_PATH_PREFIX AWS_IOT_ROOT_CA_FILENAME
#define AWS_IOT_CERTIFICATE_PATH AWS_IOT_PATH_PREFIX AWS_IOT_CERTIFICATE_FILENAME
#define AWS_IOT_PRIVATE_KEY_PATH AWS_IOT_PATH_PREFIX AWS_IOT_PRIVATE_KEY_FILENAME